*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

:root 
{
    font-size: 62.5%;
}

body
{
    font-size: 2rem;
}

form 
{
    margin-top: 5rem;
    margin-right: 5rem;
    text-align: right;
}

fieldset
{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

div 
{
    padding: .6rem;
}